{{ if .Block.Ordered }}
<ol style="margin:0 0 16px 0;padding:0;color:{{ .Values.Styles.ColorText }};line-height:1.6;padding-{{ physicalSide "start" .Values }}:20px;">
  {{ range .Block.Items }}<li>{{ . }}</li>{{ end }}
</ol>
{{ else }}
<ul style="margin:0 0 16px 0;padding:0;color:{{ .Values.Styles.ColorText }};line-height:1.6;padding-{{ physicalSide "start" .Values }}:20px;">
  {{ range .Block.Items }}<li>{{ . }}</li>{{ end }}
</ul>
{{ end }}
