{{ if and .Header .Header.ShowTitle }}# {{ .Header.Title }}{{ end }}

{{ if .Preheader }}_{{ .Preheader }}_{{ end }}

{{ if and .Header .Header.ShowProductName }}{{ if .Header.ProductLink }}[{{ .Header.ProductName }}]({{ .Header.ProductLink }}){{ else }}{{ .Header.ProductName }}{{ end }}{{ end }}
{{ if and .Header .Header.LogoURL }}
![{{ .Header.LogoAlt }}]({{ .Header.LogoURL }})
{{ end }}

{{ .Body }}